<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danny.datastruct"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.danny.datastruct.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
        </activity>
        <activity android:name="com.danny.datastruct.queue.PriorityQueueActivity"></activity>
        <activity android:name="com.danny.datastruct.sort.HeapSortActivity"></activity>
        <activity android:name="com.danny.datastruct.sort.SelectionSortActivity"></activity>
        <activity android:name="com.danny.datastruct.ShowActivity"></activity>
        <activity android:name="com.danny.datastruct.sort.ShellSortActivity"></activity>
        <activity android:name="com.danny.datastruct.sort.MergeSortActivity"></activity>
        <activity android:name="com.danny.datastruct.sort.QuickSortActivity"></activity>
        <activity android:name="com.danny.datastruct.string.KMPActivity"></activity>
    </application>

</manifest>